@font-face { /* For Inkling Font */
    font-family: woomy;
    src: url(fonts/Paintball_Beta.otf);
}

* {
    font-family: woomy;
    /* border: 1px solid black; */
}

body,html,#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

#header {
    display: inline-flex;
    width: 100%;
    height: 10%;
    z-index: 1;
    position:fixed;
    top: 0%;
    background-color: rgba(0,0,0,0.2);
    flex-direction: row;
    justify-content: space-evenly;
}

#projectDev {
    display: inline-block;
    width: auto;
    height: 100%;
}

#projectDev > img {
    height: 100%;
}

#intro {
    width: 100%;
    height: 100%;
}

#mainBody {
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


 #imageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#titleContainer {
    display: inline-flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

#logo,#title,#type {
    text-align: center;
}

#logo > img {
    width: 256px;
}

#type,#title {
    color: white;
}

#title {
    margin: 0;
    font-size: 2.5rem;
}

#leftArrow,#rightArrow {
    display: none;
}

#home {
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(119,255,133,1) 100%);
}

#slogan,#sloganDetail {
    color: whitesmoke;
    margin: 0;
    text-align: center;
}

#slogan {
    font-size: 3rem;
    margin: 3rem 0 2rem 0;
}

.button {
    display: table;
    margin: 5rem auto 0 auto;
    padding: 1rem 2rem;
    color: whitesmoke;
    background-color: #5ED4FF;
    border-radius: 2%;
}

.button:link {
    text-decoration: none;
}

.button:visited {
    text-decoration: none;
}

/* .titleStuff {
    display: inline-flex;
    flex-direction: row;
    margin: 0;
}

.titleName,.titleImage{
    display: inline-block;
    margin: 0;
} */